# Backend
PORT=3000
JWT_SECRET=coloca_un_secreto_seguro

# Base de datos local con Docker
DB_HOST=db
DB_USER=root
DB_PASSWORD=root123
DB_NAME=shopfacil

# Base de datos en nube opcional para Sprint 6
# DATABASE_URL=mysql://usuario:password@host:puerto/base_de_datos

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Frontend desplegado opcional
FRONTEND_URL=https://tu-frontend.vercel.app
